page-inscription {
    ion-input{
        font-weight: bold;
        font-size: 20px;
    }
    .passwordIcon{
        font-size:2rem !important;
        position: relative !important;
        top: 22px !important;
        margin: 0 auto !important;
     }
}
