page-mon-compte {
ion-grid{
    text-align: center;
    font-weight: bold;
    color:rgb(19, 19, 26);

}

ion-icon{
    font-size: 75px;
//color: rgb(66, 102, 223);
    margin: 8px;
    margin-top:12%
}
p{
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  color:rgb(92, 74, 74);

}


}
