page-transfert {
.button1{
//background-color: rgb(139, 241, 107);
    height: 50px;

    font-weight: bold;
}
.div{
height:40%;
width:100%;
//background-color: rgba(77, 63, 54, 0.383);
 background-image: url('../assets/imgs/slide1.jpg');
background-size: cover;
}
ion-card{
  background-color: rgb(68, 68, 77)
}

h1{
  font-size:20px;
  color: rgb(18, 77, 187)
}
p{
  font-size:3px
}

}
